{% extends 'base.html' %}
{% block content %}
  <h1 class="text-center mb-3">Vote Now</h1>

 <div class="card mb-3">
        <div class="card-body">
          <p class="lead">President</p>
            {% if President == 'yes' %}
          <button  class="btn btn-primary btn-sm" disabled>Vote Now</button>
            {% else %}
            <a href="{% url 'President_vote'  %}" class="btn btn-primary btn-sm">Vote Now</a>
            {% endif %}

          <a href="{% url 'President_result'  %}" class="btn btn-secondary btn-sm">Results</a>
        </div>
      </div>`
      <div class="card mb-3">
        <div class="card-body">
          <p class="lead">Vice President</p>

            {% if vice_President == 'yes' %}
          <button  class="btn btn-primary btn-sm" disabled>Vote Now</button>
            {% else %}
            <a href="{% url 'Vice_President_vote'  %}" class="btn btn-primary btn-sm">Vote Now</a>
            {% endif %}
          <a href="{% url 'Vice_President_result' %}" class="btn btn-secondary btn-sm">Results</a>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <p class="lead">Senator</p>
            {% if senator == 'yes' %}
          <button  class="btn btn-primary btn-sm" disabled>Vote Now</button>
            {% else %}
            <a href="{% url 'Senator_vote'  %}" class="btn btn-primary btn-sm">Vote Now</a>
            {% endif %}

          <a href="{% url 'Senator_result' %}" class="btn btn-secondary btn-sm">Results</a>
        </div>
      </div>


{% endblock %}
