{% extends 'base.html' %}
{% block content1 %}
<a class="btn btn-secondary btn-sm mb-3" href="{% url 'go_for_poll' %}" style="height: 32px;">Back To Polls</a>
            {% endblock %}
{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto">



<script>
    setTimeout(function(){
      if ($('#msg').length > 0) {
        $('#msg').remove();
      }
    }, 2000)
</script>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #fffff;
  padding: 10px;
  margin-left: -420px;

}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 16px;
  text-align: center;
  height: 220px;
  width: 210px;

}
</style>

<h1 class="text-center mb-3">Vice Presidential Candidates</h1>



<form action="{% url 'save_the_v_p_v' %}" method="POST">
	{% csrf_token %}
	<input type="hidden" name="csrfmiddlewaretoken" value="PpPMvVHuSLiB4eVkcZGUdLUhWbow6dic9o5Rmnq3vKdBMZSAYEszSfWj55EEiEG6">
<div class="grid-container">
  <div class="grid-item">
	  <div class="form-check">
			<input type="radio" name="choice" class="form-check-input" id="choice1" value="1">
			<img src="https://votepilipinas.com/candidate/img/serapio_main.png" alt="vpres1" style="width:155px;height:150px;">
			<label for="choice1">Carlos Serapio</label>
		</div><br></div>
  <div class="grid-item">
	  <div class="form-check">
			<input type="radio" name="choice" class="form-check-input" id="choice2" value="2">
			<img src="https://votepilipinas.com/candidate/img/pangilinan_main.png" alt="vpres2" style="width:155px;height:150px;">
			<label for="choice2">Kiko Pangilinan</label>
		</div><br>
  </div>
  <div class="grid-item">
	  <div class="form-check">
			<input type="radio" name="choice" class="form-check-input" id="choice3" value="3">
			<img src="https://votepilipinas.com/candidate/img/atienza_main.png" alt="vpres3" style="width:155px;height:150px;">
			<label for="choice3">Lito Atienza</label>
		</div>
  </div>
  <div class="grid-item">
	  <div class="form-check">
			<input type="radio" name="choice" class="form-check-input" id="choice4" value="4">
			<img src="https://votepilipinas.com/candidate/img/lopez_main.png" alt="vpres4" style="width:155px;height:150px;">
			<label for="choice4">Manny SD Lopez</label>
		</div>
  </div>
  <div class="grid-item">
	  <div class="form-check">
			<input type="radio" name="choice" class="form-check-input" id="choice5" value="5">
			<img src="https://votepilipinas.com/candidate/img/rizalito_main.png" alt="vpres5" style="width:155px;height:150px;">
			<label for="choice5">Rizalito David</label>
		</div>
  </div>
  <div class="grid-item">

		<div class="form-check">
			<input type="radio" name="choice" class="form-check-input" id="choice6" value="6">
			<img src="https://votepilipinas.com/candidate/img/duterte_main.png" alt="vpres6" style="width:155px;height:150px;">
			<label for="choice6">Sara Duterte</label>
		</div>
  </div>
  <div class="grid-item">
	  <div class="form-check">
			<input type="radio" name="choice" class="form-check-input" id="choice7" value="7">
			<img src="https://votepilipinas.com/candidate/img/sotto_main.png" alt="vpres7" style="width:155px;height:150px;">
			<label for="choice7">Vicente Tito Sotto</label>
		</div>
  </div>
  <div class="grid-item">
	  <div class="form-check">
			<input type="radio" name="choice" class="form-check-input" id="choice8" value="8">
			<img src="https://votepilipinas.com/candidate/img/bello_main.png" alt="vpres7" style="width:155px;height:150px;">
			<label for="choice8">Walden Bello</label>
		</div>

  </div>
  <div class="grid-item">
	  <div class="form-check">
			<input type="radio" name="choice" class="form-check-input" id="choice9" value="9">
			<img src="https://votepilipinas.com/candidate/img/ong_main.png" alt="vpres7" style="width:155px;height:150px;">
			<label for="choice9">Wllie Ong</label>
		</div>
  </div>
</div>
<!--		<div class="form-check">-->
<!--			<input type="radio" name="choice" class="form-check-input" id="choice10" value="10">-->
<!--			<label for="choice10">Vice President 10</label>-->
<!--		</div>-->

<!--		<div class="form-check">-->
<!--			<input type="radio" name="choice" class="form-check-input" id="choice11" value="11">-->
<!--			<label for="choice11">Vice President 11</label>-->
<!--		</div>-->

<!--		<div class="form-check">-->
<!--			<input type="radio" name="choice" class="form-check-input" id="choice12" value="12">-->
<!--			<label for="choice12">Vice President 12</label>-->
<!--		</div>-->

	<input type="submit" value="Vote" class="btn btn-success btn-lg btn-block mt-4">
</form>

        </div>
      </div>
    </div>


{% endblock %}
